body {
    text-align: center;
    color: black;
    width: 1100px;
}
div#wapper{
    width:100%;
    text-align:left;
    min-height:300px;
    margin:0 auto;
}
header, footer, nav, aside, section{
    margin: 5px;
    padding: 10px;
}
header{
    height: 50px;
    padding-top: 15px;
    padding-left:30px;
}
.mainHeader{
    float:left;
    margin-right:10px;
}
#logo{
    padding: 10px 20px;
}
#searchContainer{
    background-color: #f1f3f5;
    border-radius:5px;
}
.search{
    float:left;
}
#searchIcon{
    padding:10px;
}
#searchText{
    width: 300px; /* 원하는 너비 설정 */ 
    height: auto; /* 높이값 초기화 */ 
    line-height : normal; /* line-height 초기화 */ 
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
    font-family: inherit; /* 폰트 상속 */ 
    border:0px;
    border-radius: 10px; /* iSO 둥근모서리 제거 */ 
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
    -moz-appearance: none; 
    appearance: none;
    background-color:#f1f3f5;
}
.headerBtn{
    float:right;
    margin-right:10px;
    background-color:white;
    border: 0px;
    height:35px;
    font-weight:bold;
    color:#414141;
    border-radius:5px;
}
.headerBtn:hover{
    background-color:#f1f3f5;
}
#signIn{
    width:100px;
    color:rgb(102, 173, 255);
    border: 1px solid rgb(102, 173, 255);
}
nav{
    text-align:center;
    padding-bottom: 30px;
}
h2{
    font-size: 40px;
}
ul{
    margin:0px; padding:0px;
}
li{
    display:inline-block;
    list-style:none;
    margin:0;
}
#city{
    display:inline-block;
    width:1000px;
    padding-bottom:30px;
    margin-bottom:30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); 
}
.citiesBox{
    width:250px;
    padding: 15px 0px;
    box-sizing:border-box;
    background-color: #f1f3f5;
}
#jeju{
    background-color: white;
    border-radius: 30px 0px 0px 0px;
}
#busan{
    border-radius: 0px 15px 0px 0px;
}
#quickContainer{
    margin-top: 30px;
}
.quick_btn{
    width:100px;
    border:0px;
    border-radius:10px;
    padding-bottom:10px;
    margin: 0px 5px;
}
.mid_title{
    color: rgb(49, 49, 49);
    font-size:20px;
    text-align:left;
    margin-left:40px;
}
.category_btn{
    width:120px;
    border-radius:10px;
    border: 1px solid #dddddd;
    padding: 10px 0px;
}
.card{
    width:250px;
    height: 316px;
    padding:0px;
    margin: 0px 5px;
    background-color:white;
    border: 1px solid #dddddd;
}
.card_img_container{
    padding:0px;
    margin:0px;
}
.card_img{
    width:100%;
    height:158px;
}
.card_detail{
    height:158px;
    padding:15px;
    text-align:left;
}
.card_city{
    font-size:10px;
    color:#808080;
    padding-bottom:10px;
}
.card_title{
    color:#414141;
    font-size:15px;
}

form{
    margin:0px;
    padding:0px;
}
button{
    background-color: white;
}
button:hover{
    background-color: #f1f3f5;
}
section{
    text-align:center;
}
aside{
    background-color: #ff9b71;
    margin: 30px 0px;
}
footer{
    height: 50px;
    background-color: #dd614a;
    position: relative;
    clear: both;
}
article{
    width:90%;
    margin:20px;
    background-color:white;
    border: 1px solid gray;
}